CREATE OR REPLACE FUNCTION add_members_column() RETURNS void AS $$ BEGIN IF NOT EXISTS (SELECT 1 FROM information_schema.columns WHERE table_name='families' AND column_name='members') THEN ALTER TABLE families ADD COLUMN members JSONB DEFAULT '[]'::jsonb; END IF; END; $$ LANGUAGE plpgsql; SELECT add_members_column();
